body {
    background-color: white;
    font-family: 'Quicksand', Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.home-title {
    font-family: 'Roboto Condensed', 'Rock Salt', sans-serif;
    font-size: 2em;
    margin-top: 10px;
    text-align: center;
    color: antiquewhite;
}

.msg h2 {
    font-family: 'Roboto Condensed', 'Rock Salt', sans-serif;
}

section {
    text-align: center;
}

.logo {
    text-align: center;
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-img {
    width: 100%;
}

#hero-msg h4 {
    color: white;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

main section img {
    box-sizing: border-box;
}

header {
    background-color: #4D7C8A;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    color: white;
    background-color: #4D7C8A;
    text-decoration: none;
    text-align: center;
    padding: 35px;
}

nav a:hover {
    color: #9CEAEF;
}

#hero-msg h1, 
#hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

.card-img {
    border: 10px solid #EE8434;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #a85d24;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains {
    width: 100%;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
    
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.book, .join {
    background-color: #4D7C8A;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    color: #9CEAEF;
}

.msg {
    background-color: #002642;
    color: white;
    padding: 35px;
    line-height: 1.5em;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #002642;
}

.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}

#background {
    height: 725px;
    background-color: antiquewhite;
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    width:100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #002642;
}

footer {
    background-color: #4D7C8A;
    color: white;
    font-size: 1em;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #9CEAEF;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}


@media screen and (max-width: 900px) {

    #hero,
    .home-grid {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    #hero-msg h1 {
        color: #6f7364;
    }

    .home-title {
        font-size: 25px;
    }

    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }

    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}